<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472228192707-te63u22qdl9uco4ve9fsodupfrtmasgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472228192707-te63u22qdl9uco4ve9fsodupfrtmasgl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>472228192707-nuqtkjfeip0lkosrsbsfcvsgjium9huh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVURz9OsZcSxNLqtqeQrdAJwlWbfdc35s</string>
	<key>GCM_SENDER_ID</key>
	<string>472228192707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.datingez</string>
	<key>PROJECT_ID</key>
	<string>ezdating-23371</string>
	<key>STORAGE_BUCKET</key>
	<string>ezdating-23371.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472228192707:ios:976ba6a1e7e4e739d1dd76</string>
</dict>
</plist>